/* انیمیشن برای ورود متن */
@keyframes fadeInText {
  0% { opacity: 0; transform: translateX(-50px); }
  100% { opacity: 1; transform: translateX(0); }
}

/* انیمیشن برای ورود لوگو */
@keyframes scaleIn {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}

/* استایل‌های صفحه لودینگ */
.loading-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #18224B; /* پس‌زمینه سرمه‌ای */
  overflow: hidden;
  position: relative;
}

/* استایل برای متن سمت چپ */
.left-text p {
  color: white;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  animation: fadeInText 2s ease-in-out;
}

/* استایل برای لوگو موشن */
.right-logo img {
  width: 50%;
  max-width: 300px;
  animation: scaleIn 2s ease-out;
}

/* ریسپانسیو برای موبایل */
@media (max-width: 768px) {
  .left-text {
    max-width: 90%;
    text-align: center;
    position: relative;
    font-size: 18px;
  }

  .right-logo {
    position: relative;
    margin-top: 20px;
  }

  .left-text p {
    font-size: 18px;
  }

  .right-logo img {
    max-width: 200px;
  }
}

/* اضافه کردن رنگ فیروزه‌ای برای کلمات خاص */
.left-text p span {
  color: #00b5ad; /* رنگ فیروزه‌ای */
  font-weight: bold;
}
